@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Kalam:wght@400;700&display=swap');

:root {
	--azul-claro: #6F6BF2;
	--amarelo: #F2C641;
	--azul-escuro: #0511F2;
	--laranja: #F29B30;

	--fonte-principal: 'Hedvig Letters Sans', sans-serif;
	--fonte-secundaria: 'Kalam', cursive;;
}

#barra-nav {
	background-color: var(--amarelo);
	padding: 1rem 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

#barra-nav ul{
	margin: 0;
	padding: 0;
	text-align: right;
	padding-right: 5rem;
}

#barra-nav li {
	display: inline-block;
	margin-right: 10px;
}

#barra-nav .nav-link {
	font-weight: 600;
}

#barra-nav .nav-link:hover {
	color: var(--azul-escuro);
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px 2px;
	text-decoration: none;
}

#logo img {
	display: inline-block;
	position: relative;
	left: 5rem;
}

body {
	background-color: var(--azul-claro);
	font-family: var(--fonte-principal);
	cursor: url('img/cursor.png'), auto;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: var(--fonte-secundaria);
}

.bgimage {
	height: 100vh;
	position: relative;
	background: url("img/hero.jpg");
	background-size: cover;
}

.hero-title {
	font-size: 4.5rem;
}

.hero-sub {
	font-size: 2rem;
}

.title-posts {
	position: absolute;
	top: -2%;
	left: 50%;
	transform: translate(-50%,0);
}

.autor {
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

.img-autor {
	width: 90%;
	padding: 1rem 0;
}

.autor p {
	padding: 1rem;
}

.icone-contato {
	font-size: 32px;
	padding-bottom: 2rem;
	color:var(--laranja);
}

#posts, #criar, #sobre {
	margin: 5rem;
	background-color: whitesmoke;
	border-radius: 10px;
	padding: 2rem;
}

.post-form {
	display:flex;
	flex-direction: column;
}

#post-form input {
	width: 100%;

}

#post-form textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 15rem;
}

#comentario {
	min-width: 100%;
}

a {
	cursor: url('img/hover.png'), auto;
}